<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Snow | Excel Management </title>

    <meta name="keywords" content="excel management, construction, landscaping, home beautification" />
    <meta name="description" content="Excel Management | Construction | Landscaping" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/lightbox.css.css" rel="stylesheet"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFMG7FPTEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TFMG7FPTEB');
    </script>

</head>
<body>

        <!-- navbar that allows fixed position and mobile collapsible menu -->
        <div class="navbar-fixed">
          <nav class="materialize-white" role="navigation">
              <div class="nav-wrapper container">
                <!-- <a id="logo-container" href="/" class="brand-logo"><img class="brand-padding" src="/images/excel-logo-10.png"></a> -->
                  <ul id="dropdown1" class="dropdown-content excel-green">
                    <li><a class="excel-green" href="/construction">Construction & Remodeling</a></li>
                    <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
                    <li><a class="excel-green" href="/landscaping">Landscape Maintenance</a></li>
                    <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
                    <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
                    <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
                    <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
                    <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
                    <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath</a></li>
                    <li><a class="excel-green" href="/irrigation">Irrigation</a></li>        
                    </ul>
                  <a href="#" class="right excel-green hide-on-med-and-down">(440) 366-0002<i class="material-icons left">phone</i></a>
                  <a class="hide-on-large-only right" href="/"><img src="public/images/excel-logo-10.png" style="width: 100px; padding-top: 13px;" alt=""></a>
                  <ul class="left hide-on-med-and-down">
                  <li><a class="excel-green" href="/"><img src="public/images/excel-logo-10.png" style="width: 150px; padding-top: 6px; padding-bottom: 20px;" alt=""></a></li>
                  <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                  <li><a class="excel-green" href="/about">About Us</a></li>
                  <li><a class="excel-green" href="/careers">Careers</a></li>
                  <li><a class="excel-green" href="/customer-survey">Customer Survey</a></li>
                  <li><a class="excel-green" href="/contact">Contact</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><img class="nav-burger" src="public/images/hamburger.png"></a>
              </div>
            </div>
            <ul id="dropdown2" class="dropdown-content excel-green">
              <li><a class="excel-green" href="/construction">Construction/Remodeling</a></li>
              <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
              <li><a class="excel-green" href="/landscaping">Lawn & Landscape Maintenance</a></li>
              <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
              <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
              <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
              <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
              <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
              <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath Remodeling</a></li>
              <li><a class="excel-green" href="/irrigation">Irrigation</a></li>
  
  
            </ul>
              <ul id="nav-mobile" class="sidenav">
                <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="excel-green" href="/about">About Us</a></li>
                <li><a class="excel-green" href="/careers">Careers</a></li>
                <li><a class="excel-green" href="/customer-survey">Customer Survey</a></li>
                <li><a class="excel-green" href="/contact">Contact</a></li>
              </ul>
        </div>
          </nav>    
  <!-- hero image :) -->
  <section class="landing-snow">
      <div class="landing-inner-other">
        <h1 class="center top-header">Snow & Ice Management</h1>
      </div>
  </section>


<!-- Section 2:  Intro Text Block -->
<section>
    <div class="container">
      <div class="row about-two">
        <div class="col s12 center">
          <h3>Committed to Snow Removal in Lorain and Cuyahoga Counties </h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <p>
            Excel Management recognizes the importance of being timely and thorough when the elements hit hardest in Northern Ohio. We have been providing consistent and exceptional service to our residential and commercial customers for over 30 years and with crews covering all of Northeast Ohio, we're sure to be close to you no matter how harsh the storm.           </p>
        </div>
      </div>
    </div>
  </section>

 
<!-- Image Gallery -->
<section>
  <div class="container" style="margin-bottom: 2rem;">
    <div class="row">
        <div class="col s4">
            <img class="responsive-img materialboxed" src="public/images/snow/1.jpg" alt="">
        </div>
        <div class="col s4">
            <img class="responsive-img materialboxed"  src="public/images/snow/2.jpg" alt="">
        </div>
        <div class="col s4">
            <img class="responsive-img materialboxed"  src="public/images/snow/3.jpg" alt="">
        </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img class="responsive-img materialboxed"  src="public/images/snow/3.jpg" alt="">
      </div>
      <div class="col s4">
        <img class="responsive-img materialboxed"  src="public/images/snow/4.jpg" alt="">
      </div>
      <div class="col s4">
        <img class="responsive-img materialboxed" src="public/images/snow/7.jpg" alt="">
      </div> 
  </div>
  <div class="row">
    <div class="col s4">
      <img class="responsive-img materialboxed" src="public/images/snow/5.jpg" alt="">
    </div>
    <div class="col s4">
      <img class="responsive-img materialboxed" src="public/images/snow/8.jpg" alt="">
    </div>
    <div class="col s4">
      <img class="responsive-img materialboxed" src="public/images/snow/9.jpg" alt="">
    </div> 
  </div>
</div>
</section>

<section >
    <div class="container" style="padding-bottom: 2rem;">
        <div class="row">
            <div class="col s12 center">
                <h3 class="excel-blue" style="padding-bottom: 1rem;">Snow Services</h3>
                <p class="excel-blue">Request an estimate today by </br> <a href="/contact">contacting us!</a></p>
                <ul class="collapsible">
                 <li>
                    <div class="excel-blue collapsible-header"><i class="excel-blue material-icons">ac_unit</i>
                         Snow Removal
                     </div>
                     <div class="excel-blue collapsible-body light">
                        We take snow removal very seriously. No matter what winter may bring, you can rest assured we will make sure your property remains accessible and safe. All of our Snow Removal Services can be customized to meet the needs of your home, commercial property, or living community.
                     </div>
                 </li>
                 <li>
                    <div class="excel-blue collapsible-header"><i class="excel-blue material-icons">ac_unit</i>
                        Snow Plowing
                    </div>
                    <div class="excel-blue collapsible-body light">
                        Our professional staff of snow plow operators are dedicated to cleaning up your driveways and parking lots. With the latest high tech snow removal equipment at our disposal we can do any snow plowing or shoveling snow job quickly and efficiently.
                    </div>
                </li>
                <li>
                    <div class="excel-blue collapsible-header"><i class="excel-blue material-icons">ac_unit</i>
                        De-Icing
                    </div>
                    <div class="excel-blue collapsible-body light">
                        We offer complete snow and ice removal services for industrial, retail and residential housing.
                    </div>
                </li>
                <li>
                    <div class="excel-blue collapsible-header"><i class="excel-blue material-icons">ac_unit</i>
                        Stacking
                    </div>
                    <div class="excel-blue collapsible-body light">
                        Our team will move snow to a convenient location or off your property. 
                    </div>
                </li>
                <li>
                    <div class="excel-blue collapsible-header"><i class="excel-blue material-icons">ac_unit</i>
                        Salting
                    </div>
                    <div class="excel-blue collapsible-body light">
                        Our dedicated team of snow professionals will utilize best-in-class ice salts in order to free your driveways and various walkways of treacherous ice and snow.
                    </div>
                </li>
                <li>
                    <div class="excel-blue collapsible-header"><i class="excel-blue material-icons">ac_unit</i>
                        Sidewalks
                    </div>
                    <div class="excel-blue collapsible-body light">
                        Rest assured that our snow shovel technicians will work to clear all of your surrounding sidewalks from snow and ice so they are easily walkable.
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Section 4: Contact Blocks -->
<section>
   <div class="container hide-on-med-and-down">
     <div class="row">
       <div class="col s12">
         <img class="responsive-img" src="/images/About-Us-Bottom.png" alt="">
       </div>
     </div>
   </div>

</section>

<footer>
  <section >
    <div class="container center">
      <div class="row">
        <div class="col s12" style="padding-top: 1rem;">
          <!-- <span><img style="height: 100px" src="/images/excel-logo-10.png" alt=""></span> -->
          <h4 style="color: white;">EXCEL MANAGEMENT</h4> 
          <P style="color: white;">Commercial Snow Removal, Grounds Management, Landscaping Services and design for Commercial Buildings, Industrial Parks, Retail Shopping Centers, Condominiums, and Apartments or Complexes in North East Ohio | Headquartered in Elyria, Ohio</P>
          <HR></HR>
        </div>
        <div class="row center hide-on-med-and-down">
          <div class="col s12 center">
            <span class="space">
                <a class="space" href="/">Home</a>
            </span>
            <span class="space">
                <a class="space" href="/about">About</a>
            </span>
            <span class="space">
                <a class="space" href="/careers">Careers</a>
            </span>
            <span class="space">
                <a class="space" href="/customer-survey">Survey</a>

            </span>
            <span class="space">
                <a class="space" href="/contact">
                
                Contact</a>
                
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col s12" style="font-weight: 300; color: white;">
            Copyright © 2021 Excel Management, LLC
          </div>
        </div>
      </div>
    </div>
  </section>

</footer>

</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/index.js"></script>
<script src="public/js/lightbox.js"></script>
  <script>
    lightbox.option({
      'fitImagesInViewport': true,
      'wrapAround': true
    })
  </script>

</body>
