
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Excel Management Website</title>

    <meta name="keywords" content="excel management, construction, landscaping, home beautification" />
    <meta name="description" content="Excel Management | Construction | Landscaping" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />    
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body>

        <!-- navbar that allows fixed position and mobile collapsible menu -->
       <div class="navbar-fixed">
        <nav class="materialize-white" role="navigation">
            <div class="nav-wrapper container">
                <ul id="dropdown1" class="dropdown-content excel-green">
                  <li><a class="excel-green" href="/construction">Construction & Remodeling</a></li>
                  <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
                  <li><a class="excel-green" href="/landscaping">Landscape Maintenance</a></li>
                  <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
                  <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
                  <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
                  <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
                  <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
                  <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath</a></li>
                  <li><a class="excel-green" href="/irrigation">Irrigation</a></li>        
                  </ul>
                <a href="#" class="right excel-green hide-on-med-and-down">(440) 366-0002<i class="material-icons left">phone</i></a>
                <a class="hide-on-large-only right" href="/"><img src="public/images/excel-logo-10.png" style="width: 100px; padding-top: 13px;" alt=""></a>
                <ul class="left hide-on-med-and-down">
                <li><a class="excel-green" href="/"><img src="public/images/excel-logo-10.png" style="width: 150px; padding-top: 6px; padding-bottom: 20px;" alt=""></a></li>
                <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="excel-green" href="/about">About Us</a></li>
                <li><a class="excel-green" href="/careers">Careers</a></li>
                <li><a class="excel-green" href="/customer-survey">Customer Survey</a></li>
                <li><a class="excel-green" href="/contact">Contact</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons excel-green">menu</i></a>
            </div>
          </div>
          <ul id="dropdown2" class="dropdown-content excel-green">
            <li><a class="excel-green" href="/construction">Construction/Remodeling</a></li>
            <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
            <li><a class="excel-green" href="/landscaping">Lawn & Landscape Maintenance</a></li>
            <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
            <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
            <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
            <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
            <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
            <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath Remodeling</a></li>
            <li><a class="excel-green" href="/irrigation">Irrigation</a></li>


          </ul>
            <ul id="nav-mobile" class="sidenav">
              <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="excel-green" href="/about">About Us</a></li>
              <li><a class="excel-green" href="/careers">Careers</a></li>
              <li><a class="excel-green" href="/customer-survey">Customer Survey</a></li>
              <li><a class="excel-green" href="/contact">Contact</a></li>
            </ul>
      </div>
  </nav>    


  

<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" id="slide-1">
      <div class="swiper-inner">
        <h1>
          Your Partner for Residential </br>or Commercial Needs </br>in Northern Ohio
        </h1>
      <span class="white-text hero-list"><i class="material-icons left">build_circle</i>Same-day estimates for any service</span>
      <span class="white-text hero-list"><i class="material-icons left">build_circle</i>Timely and thorough projects</span>
      <span class="white-text hero-list"><i class="material-icons left">build_circle</i>Serving NE Ohio for 30 years</span>
      </div>
    </div>
    <div class="swiper-slide" id="slide-2">
      <div class="swiper-inner-2" style="margin-top: 2em;">
        <h1>
         Great Results and No Surprises, Every Time.
        </h1>
        <h5 class="white-text" style="font-size: 1.8em; font-weight: 300;">
          "I worked closely with Anthony during my landscaping overhaul. He helped me throughout the entire process from design to install. He gave me options so I was able to make it my own. He showed me what was going to be installed so there were no surprises. His workers were kind, professional, and cleaned up after every work day."
        </h5>
      </div>
    </div>
    <div class="swiper-slide" id="slide-3">
      <div class="swiper-inner-2">
        <h1>
         Top Landscaping Install </br>and Maintenance Professionals </br>In Northern Ohio
        </h1>
      <span class="white-text hero-list"><i class="material-icons left">yard</i>Get your yard and gardens ready for spring</span>
      <span class="white-text hero-list"><i class="material-icons left">yard</i>Kind and courteous professionals available for install or maintenance</span>
      <span class="white-text hero-list"><i class="material-icons left">yard</i>Call us today for a quote! 440-366-0002</span>

      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
   
  <section style="margin-bottom: 1rem;">
    <div class="container hoverable" style="background-color: #384B91; color: white; border-radius: 20px; padding-bottom: -2em; padding-top: 3em;">
      <div class="row">
        <div class="col s12">
          <div class="container" style=" padding-bottom: 0;">
            <div class="row">
              <div class="col s1">
               <img class="responsive-img" width="50px" src="public/images/quotes.png" alt=""></img>

              </div>
              <div class="col s11">
                <p class="white-text" style="font-size: 1.5rem;">... They were able to squeeze in our landscaping project toward the end of the year. We couldn't be happier with the results; not only are the plants perfect for our space but the uplighting really makes our house stand out. After some particularly windy days, a couple of our plants were tilted but Anthony immediately sent someone out to fix the issue. We will be using Excel for years to come.</p>
              </div>
              <div class="col s12 center">
                  <a href="https://www.google.com/search?q=excel%20management&sxsrf=ALeKk026cPo6TuqX5s6A2-d0fStCXXAHmg:1618286463552&ei=dRd1YKbpOo2y5NoPipmH4AI&oq=excel+management&gs_lcp=Cgdnd3Mtd2l6EAMyDQguEMcBEK8BECcQkwIyBAgjECcyAggAMgIIADICCAAyAggAMggILhDHARCvATICCAAyAggAMggILhDHARCvAToHCAAQRxCwAzoFCAAQkQI6BAgAEEM6CAgAELEDEIMBOgUIABCxAzoKCAAQhwIQsQMQFDoOCC4QsQMQgwEQxwEQowI6CwguELEDEMcBEKMCOgcILhCxAxBDOgcIABCxAxBDOggIABCxAxCRAjoHCAAQhwIQFFCnK1jIPGDqQWgFcAJ4AIABugKIAfYOkgEIMTEuNS4wLjGYAQCgAQGqAQdnd3Mtd2l6yAEDwAEB&sclient=gws-wiz&ved=2ahUKEwiyxrfuqvrvAhVUEVkFHW0bDFYQvS4wAHoECAUQNA&uact=5&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=15452872005734551583&lqi=ChBleGNlbCBtYW5hZ2VtZW50SLTTraHfsICACFosChBleGNlbCBtYW5hZ2VtZW50EAAQARgAGAEiEGV4Y2VsIG1hbmFnZW1lbnSSARRjb25zdHJ1Y3Rpb25fY29tcGFueaoBGBABKhQiEGV4Y2VsIG1hbmFnZW1lbnQoAA&rlst=f#lrd=0x88309998a876b3c3:0xcd373d38476d9951,1,,,&rlfi=hd:;si:14787355213420140881,l,ChBleGNlbCBtYW5hZ2VtZW50SLaT9sDlgICACFosChBleGNlbCBtYW5hZ2VtZW50EAAQARgAGAEiEGV4Y2VsIG1hbmFnZW1lbnSSARFsYXduX2NhcmVfc2VydmljZaoBGBABKhQiEGV4Y2VsIG1hbmFnZW1lbnQoAA;mv:[[41.7795978,-81.2593278],[39.874436900000006,-83.1022675]]" class="waves-effect waves-light btn red">More Reviews</a>

              </div>
            </div>

            
          </div>

        </div>
      </div>
    </div>
  </section>

 

  

  <!-- Two Part Section - Intro and Block Images 30 Years of Service -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <img class="responsive-img" src="public/images/home/Home_Section-Two.png" alt="">
        </div>

        <!-- for large only -->
        <div class="hide-on-med-and-down">
          <div class="col s12 m12 l6" style="padding-top: 1rem;">
            <p class="left bold-green">
              Leading The Way in Landscaping and Construction
            </p>
            <h3 class="left" style="">
              High Quality Construction Projects & Innovative Design
            </h3>
            <p class="left soft-green">
              Serving Cuyahoga County, Summit County, Lorain County, Medina County, Sandusky County, and greater Cleveland, greater Akron, greater Canton, greater Lorain, and greater Huron with the following services: 
            </p>
            <div class="row">
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">ac_unit</i><a style="color:#384B91" href="/snow-ice-management">Snow & Ice</a></span>
              </div>
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">eco</i><a style="color:#384B91" href="/landscaping">Landscaping</a></span>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">water_damage</i><a style="color:#384B91" href="/irrigation">Irrigation</a></span>
              </div>
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">build</i><a style="color:#384B91" href="/construction">Construction</a></span>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                  <a href="/about" class="waves-effect waves-light btn red">About Us</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                  <img style="width: 30%;" src="public/images/Free_estimates.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="hide-on-large-only">
          <div class="col s12 m6" style="padding-top: 1rem;">
            <p class="center bold-green">
              Leading The Way in Landscaping and Construction
            </p>
            <h3 class="center">
              High Quality Construction Projects & Innovative Design
            </h3>
            <p class="center soft-green">
              Serving Cuyahoga County, Summit County, Lorain County, Medina County, Sandusky County, and greater Cleveland, greater Akron, greater Canton, greater Lorain, and greater Huron with the following services: 
            </p>
            <div class="row">
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">ac_unit</i>Snow & Ice</span>
              </div>
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">eco</i>Landscaping</span>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">water_damage</i>Irrigation</span>
              </div>
              <div class="col s6">
                <span class="hero-list center" style="color:#384B91;"><i class="material-icons left excel-red">build</i>Construction</span>
              </div>
            </div>
            <div class="row center">
              <div class="col s12">
                <a class="waves-effect waves-light btn red">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Section 3: Responsive Image  -->
<section class="hide-on-med-and-down center">
  <div class="container">
    <img style="width: 60%" src="public/images/home/Home_Section-Three.png" alt="">
  </div>
 </section>

<section class="hide-on-large-only">
 <div class="container">
   <img class="responsive-img" src="public/images/home/Home_Section-Three.png" alt="">
 </div>
</section>

<!-- Section 4: Contact Form -->
<section>
   <!-- form container -->
   
   <div class="container center-align" id="form-container">
       <div class="row">
           <div class="col s12 center-align">
             <div class="container form-container">
              <h2>
                Get in touch.
            </h2>
            <p class="excel-blue" style="font-size: 1.25rem;">
             We’d love to get started on your project! Contact us by phone at (440) 366-0002 or fill out our Quote Request Form below so that we can reach out to you! </p>
             </div>
             
           </div>
       </div>
       <div class="container">
           <div class="row">
           <form class="col s12 center">
               <div class="row">
                   <div style="border-style: solid; border-radius: 15px; border-color: #384B91;
                  border-width: 1px;"
                       class="input-field col s12">
                       <input placeholder="Full Name" id="name" type="text" class="validate"
                           style="border-bottom: none;">
                   </div>
               </div>
               <div class="row">
                  <div style="border-style: solid; border-radius: 15px; border-color: #384B91;
                 border-width: 1px;"
                    class="input-field col s12">
                    <input placeholder="Email" id="email" type="text" class="validate"
                        style="border-bottom: none;">
                  </div>
               </div>
              <div class="row">
                  <div style="border-style: solid; border-radius: 15px; border-color: #384B91;
                 border-width: 1px;"
                  class="input-field col s12">
                  <input placeholder="Phone Number" id="phone" type="text" class="validate"
                      style="border-bottom: none;">
                  </div>
              </div>
               <div class="row">
                <div style="border-style: solid; border-radius: 15px; border-color: #384B91;
               border-width: 1px; color: grey;" class="input-field col s12">
                  <select id="q6">
                    <option value="" style="color: lightgrey;" disabled selected>Services Requested</option>
                    <option value="snow">Snow and Ice Management</option>
                    <option value="landscaping">Landscaping & Lawn Care</option>
                    <option value="construction">Construction</option>
                    <option value="concrete">Concrete</option>
                    <option value="outdoor-living">Outdoor Living</option>
                    <option value="roofing-siding">Roofing or Siding</option>
                    <option value="decks-fences">Decks and Fences</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div style="border-style: solid; border-radius: 15px; border-color: #384B91; border-width: 1px; color: grey;" class="input-field col s12">
                  <select id="q4" >
                    <option value="" style="color: lightgrey;" disabled selected>Preferred Contact</option>
                    <option value="snow">Phone</option>
                    <option value="landscaping">Email</option>
                    <option value="construction">Either Option</option>
                  </select>
                </div>
               </div>
                <div class="row">
                <div style="border-style: solid; border-radius: 15px; border-color: #384B91; border-width: 1px; color: grey;" class="input-field col s12">
                  <select id="q5" >
                    <option value="" style="color: lightgrey;" disabled selected>Type of Property</option>
                    <option value="residential">Residential</option>
                    <option value="commercial">Commercial</option>
                  </select>
                </div>
               </div>
               <div class="row">
                <div style="border-style: solid; border-radius: 15px; border-color: #384B91; border-width: 1px;"
                class="input-field col s12">
                <input placeholder="Message" id="message" type="text" class="validate"
                    style="border-bottom: none;">
                </div>
            </div>
           </form>
       </div>
       </div>
       
  
       <!-- button -->
       <div class="row center-align" style="padding-bottom: 1rem; ">
           <div class="col s12">
               <button id="submitButton" style="background-color: #384B91; border-radius: 10px;"
                   class="btn-large waves-effect waves-light" type="submit" name="action">Submit
               </button>
           </div>
       </div>
      </div>
   </div>

   <div class="container hide-on-med-and-down">
     <div class="row">
       <div class="col s12">
         <img class="responsive-img" src="public/images/one.png" alt="">
       </div>
     </div>
   </div>

</section>

<footer>
  <section >
    <div class="container center">
      <div class="row">
        <div class="col s12" style="padding-top: 1rem;">
          <!-- <span><img style="height: 100px" src="/images/excel-logo-10.png" alt=""></span> -->
          <h4 style="color: white;">EXCEL MANAGEMENT</h4> 
          <P style="color: white;">Commercial Snow Removal, Grounds Management, Landscaping Services and design for Commercial Buildings, Industrial Parks, Retail Shopping Centers, Condominiums, and Apartments or Complexes in North East Ohio | Headquartered in Elyria, Ohio</P>
          <HR></HR>
        </div>
        <div class="row">
          <div class="col s12">
            <span class="space">
                <a class="space" href="/">Home</a>
            </span>
            <span class="space">
                <a class="space" href="/about">About</a>
            </span>
            <span class="space">
                <a class="space" href="/careers">Careers</a>
            </span>
            <span class="space">
                <a class="space" href="/customer-survey">Customer Survey</a>

            </span>
            <span class="space">
                <a class="space" href="/contact">
                
                Contact</a>
                
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col s12" style="font-weight: 300; color: white;">
            Copyright © 2021 Excel Management, LLC
          </div>
        </div>
      </div>
    </div>
  </section>

</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/swiper.js"></script>
<script src="public/js/index.js"></script>

<script>
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $('.carousel').carousel();
      $('.collapsible').collapsible();
      $('select').formSelect();
      $('.modal').modal();
      $(".dropdown-trigger").dropdown();
      $('.materialboxed').materialbox();


        $('#submitButton').on('click', function() {
            const newObject = {
                name: $('#name').val().trim(),
                email: $('#email').val().trim(),
                phone: $('#phone').val().trim(),
                preferred: $('#q4').val().trim(),
                property: $('#q5').val().trim(),
                services: $('#q6').val().trim(), 
                message: $('#message').val().trim()
            }
            console.log(newObject);
            
                $.post("/send", newObject, function(data) {
                //Grab the result from the AJAX post so that the best match's name and photo are displayed.
                console.log("Posted data: " + newObject);
            });
        })

    })

</script>



</body>
