<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Kitchens & Baths | Excel Management </title>
    <meta name="keywords" content="excel management, construction, landscaping, home beautification" />
    <meta name="description" content="Excel Management | Construction | Landscaping" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/lightbox.css" rel="stylesheet"/>

</head>
<body>

          <!-- navbar that allows fixed position and mobile collapsible menu -->
       <div class="navbar-fixed">
        <nav class="materialize-white" role="navigation">
            <div class="nav-wrapper container">
                <ul id="dropdown1" class="dropdown-content excel-green">
                  <li><a class="excel-green" href="/construction">Construction & Remodeling</a></li>
                  <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
                  <li><a class="excel-green" href="/landscaping">Landscape Maintenance</a></li>
                  <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
                  <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
                  <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
                  <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
                  <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
                  <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath</a></li>
                  <li><a class="excel-green" href="/irrigation">Irrigation</a></li>        
                  </ul>
                <a href="#" class="right excel-green hide-on-med-and-down">(440) 366-0002<i class="material-icons left">phone</i></a>
                <a class="hide-on-large-only right" href="/"><img src="public/images/excel-logo-10.png" style="width: 100px; padding-top: 13px;" alt=""></a>
                <ul class="left hide-on-med-and-down">
                <li><a class="excel-green" href="/"><img src="public/images/excel-logo-10.png" style="width: 150px; padding-top: 6px; padding-bottom: 20px;" alt=""></a></li>
                <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="excel-green" href="/about">About Us</a></li>
                <li><a class="excel-green" href="/careers">Careers</a></li>
                <li><a class="excel-green" href="/customer-survey">Customer Survey</a></li>
                <li><a class="excel-green" href="/contact">Contact</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons excel-green">menu</i></a>
            </div>
          </div>
          <ul id="dropdown2" class="dropdown-content excel-green">
            <li><a class="excel-green" href="/construction">Construction/Remodeling</a></li>
            <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
            <li><a class="excel-green" href="/landscaping">Lawn & Landscape Maintenance</a></li>
            <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
            <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
            <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
            <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
            <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
            <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath Remodeling</a></li>
            <li><a class="excel-green" href="/irrigation">Irrigation</a></li>


          </ul>
            <ul id="nav-mobile" class="sidenav">
               <li><a class="excel-green" href="/construction">Construction/Remodeling</a></li>
              <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
              <li><a class="excel-green" href="/landscaping">Lawn & Landscape Maintenance</a></li>
              <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
              <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
              <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
              <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
              <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
              <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath Remodeling</a></li>
              <li><a class="excel-green" href="/irrigation">Irrigation</a></li>
              <hr>
              <li><a class="excel-green" href="/about">About Us</a></li>
              <li><a class="excel-green" href="/careers">Careers</a></li>
              <li><a class="excel-green" href="/customer-survey">Customer Survey</a></li>
              <li><a class="excel-green" href="/contact">Contact</a></li>
              {{!-- <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li> --}}
             
            </ul>
      </div>
  </nav>    
  <!-- hero image :) -->
  <section class="landing-construction">
      <div class="landing-inner-other">
        <h1 class="center top-header">Kitchen & Baths Remodeling</h1>
      </div>
  </section>

  <!-- Section 2:  Intro Text Block -->
  <section>
    <div class="container">
      <div class="row about-two">
        <div class="col s12 center">
          <h3>Your Top Kitchen & Baths Remodeling Experts </h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <p>
            Excel Mana​gement offers home owners and businesses alike the peace of mind that only a professional, well-established contractor can offer. For over 30 years, our customers have felt at ease knowing that our professionals have unparalleled experience and an understanding of each project's expectations.          
          </p>
        </div>
      </div>
    </div>
  </section>
  

<!-- Image Gallery -->
<section>
  <div class="container center" style=" margin-top: -2rem;">
    <p>Kitchen Remodel 1</p>
      <div class="row">
           <div class="col s6">
           <a href="public/images/kitchens/KitchenRemodel3/4.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/KitchenRemodel3/4.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s6">
            <a href="public/images/kitchens/KitchenRemodel3/8.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/KitchenRemodel3/8.jpg" class="responsive-img" alt="">
            </a>
        </div>
      </div>
      <p>Kitchen Remodel 2</p>
      <div class="row">
        <div class="col s4">
          <a href="public/images/kitchens/KitchenRemodel2/2.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/KitchenRemodel2/2.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s4">
          <a href="public/images/kitchens/KitchenRemodel2/3.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/KitchenRemodel2/3.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s4">
          <a href="public/images/kitchens/KitchenRemodel2/4.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/KitchenRemodel2/4.jpg" class="responsive-img" alt="">
            </a>
        </div>
      </div>
      <p>Bath Remodel 1</p>
      <div class="row">
        <div class="col s4">
          <a href="public/images/kitchens/BathRemodel1/1.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/BathRemodel1/1.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s4">
          <a href="public/images/kitchens/BathRemodel1/5.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/BathRemodel1/5.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s4">
          <a href="public/images/kitchens/BathRemodel1/6.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/BathRemodel1/6.jpg" class="responsive-img" alt="">
            </a>
        </div>
      </div>
      <p>Bath Remodel 2</p>
      <div class="row">
        <div class="col s6">
          <a href="public/images/kitchens/BathRemodel2/1.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/BathRemodel2/1.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s6">
          <a href="public/images/kitchens/BathRemodel2/2.jpg" data-lightbox="landscape">
              <img src="public/images/kitchens/BathRemodel2/2.jpg" class="responsive-img" alt="">
            </a>
        </div>
      </div> 
  </div>
</section>

<section >
  <div class="container" style="padding-bottom: 2rem;">
      <div class="row">
          <div class="col s12 center">
          </br>
              <h3 class="excel-green" style="padding-bottom: 1rem;">Our Services</h3>
              <p>Request an estimate today by </br><a href="/contact">contacting us!</a> </p>
              <ul class="collapsible">
            <li>
              <div class="excel-green collapsible-header"><i class="excel-green material-icons">build</i>
                Custom 3D design
              </div>
              <div class="excel-green collapsible-body light">
                  Our team of kitchen and bath remodeling professionals will design your new space with a 3D program that makes it easy to envision the layout and where everything will end up. 
              </div>
            </li>
            <li>
              <div class="excel-green collapsible-header"><i class="excel-green material-icons">build</i>
                Walk-In-Shower
              </div>
              <div class="excel-green collapsible-body light">
                  Long ago are the days when you needed a moving door to provide an opening to your shower. Our team of walk-in shower experts will design a shower system that's beautiful and functional.
              </div>
            </li>
            <li>
                <div class="excel-green collapsible-header"><i class="excel-green material-icons">build</i>
                  Custom Bath Surrounds
                </div>
                <div class="excel-green collapsible-body light">
                    Our experts will replace your old, outdated bath surround with a fresh new one that will be sure to bring a polished look to any bathroom.                </div>
              </li>
              <li>
                <div class="excel-green collapsible-header"><i class="excel-green material-icons">build</i>
                  Heated Flooring
                </div>
                <div class="excel-green collapsible-body light">
                    Never again walk across a cold tile floor! Heated flooring will make winter days enjoyable and welcomed. 
              </li>
        </ul>
          </div>
      </div>
  </div>
</section>


<footer>
  <section >
    <div class="container center">
      <div class="row">
        <div class="col s12" style="padding-top: 1rem;">
          <!-- <span><img style="height: 100px" src="/images/excel-logo-10.png" alt=""></span> -->
          <h4 style="color: white;">EXCEL MANAGEMENT</h4> 
          <P style="color: white;">Commercial Snow Removal, Grounds Management, Landscaping Services and design for Commercial Buildings, Industrial Parks, Retail Shopping Centers, Condominiums, and Apartments or Complexes in North East Ohio | Headquartered in Grafton, Ohio</P>
          <HR></HR>
        </div>
        <div class="row center hide-on-med-and-down">
          <div class="col s12 center">
            <span class="space">
                <a class="space" href="/">Home</a>
            </span>
            <span class="space">
                <a class="space" href="/about">About</a>
            </span>
            <span class="space">
                <a class="space" href="/careers">Careers</a>
            </span>
            <span class="space">
                <a class="space" href="/customer-survey">Survey</a>

            </span>
            <span class="space">
                <a class="space" href="/contact">
                
                Contact</a>
                
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col s12" style="font-weight: 300; color: white;">
            Copyright © 2021 Excel Management, LLC
          </div>
        </div>
      </div>
    </div>
  </section>

</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/index.js"></script>
<script src="public/js/lightbox.js"></script>
  <script>
    lightbox.option({
      'fitImagesInViewport': true,
      'wrapAround': true
    })
  </script>

</body>
