<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Landscaping | Excel Management </title>
    <meta name="keywords" content="excel management, construction, landscaping, home beautification" />
    <meta name="description" content="Excel Management | Construction | Landscaping" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/lightbox.css" rel="stylesheet"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFMG7FPTEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TFMG7FPTEB');
    </script>

</head>
<body>
      <!-- navbar that allows fixed position and mobile collapsible menu -->
       <div class="navbar-fixed">
        <nav class="materialize-white" role="navigation">
            <div class="nav-wrapper container">
                <ul id="dropdown1" class="dropdown-content excel-green">
                  <li><a class="excel-green" href="/construction">Construction & Remodeling</a></li>
                  <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
                  <li><a class="excel-green" href="/landscaping">Landscape Maintenance</a></li>
                  <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
                  <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
                  <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
                  <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
                  <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
                  <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath</a></li>
                  <li><a class="excel-green" href="/irrigation">Irrigation</a></li>        
                  </ul>
                <a href="#" class="right excel-green hide-on-med-and-down">(440) 366-0002<i class="material-icons left">phone</i></a>
                <a class="hide-on-large-only right" href="/"><img src="public/images/excel-logo-10.png" style="width: 100px; padding-top: 13px;" alt=""></a>
                <ul class="left hide-on-med-and-down">
                <li><a class="excel-green" href="/"><img src="public/images/excel-logo-10.png" style="width: 150px; padding-top: 6px; padding-bottom: 20px;" alt=""></a></li>
                <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="excel-green" href="/financing">Financing</a></li>
                <li><a class="excel-green" href="/about">About Us</a></li>
                <li><a class="excel-green" href="/careers">Careers</a></li>
                <li><a class="excel-green" href="/contact">Contact</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><img class="nav-burger" src="public/images/hamburger.png"></a>
            </div>
          </div>
          <ul id="dropdown2" class="dropdown-content excel-green">
            <li><a class="excel-green" href="/construction">Construction/Remodeling</a></li>
            <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
            <li><a class="excel-green" href="/landscaping">Lawn & Landscape Maintenance</a></li>
            <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
            <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
            <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
            <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
            <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
            <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath Remodeling</a></li>
            <li><a class="excel-green" href="/irrigation">Irrigation</a></li>


          </ul>
            <ul id="nav-mobile" class="sidenav">
               <li><a class="excel-green" href="/construction">Construction/Remodeling</a></li>
              <li><a class="excel-green" href="/landscaping-installation">Landscaping Installation</a></li>
              <li><a class="excel-green" href="/landscaping">Lawn & Landscape Maintenance</a></li>
              <li class="excel-green"><a class="excel-blue" href="/snow-ice-management">Snow & Ice Management</a></li>
              <li><a class="excel-green" href="/concrete">Concrete & Decorative Concrete</a></li>
              <li><a class="excel-green" href="/outdoor-living">Outdoor Living</a></li>
              <li><a class="excel-green" href="/roofing-siding">Roofing & Siding</a></li>
              <li><a class="excel-green" href="/decks-fences">Decks & Fences</a></li>
              <li><a class="excel-green" href="/kitchen-bath">Kitchen & Bath Remodeling</a></li>
              <li><a class="excel-green" href="/irrigation">Irrigation</a></li>
              <hr>
              <li><a class="excel-green" href="/financing">Financing</a></li>
              <li><a class="excel-green" href="/about">About Us</a></li>
              <li><a class="excel-green" href="/careers">Careers</a></li>
              <li><a class="excel-green" href="/contact">Contact</a></li>
              {{!-- <li><a class="dropdown-trigger excel-green" href="#!" data-target="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li> --}}
             
            </ul>
      </div>
  </nav>       
  
  <!-- hero image :) -->
  <section class="landing-landscaping">
      <div class="landing-inner-other">
        <h1 class="center top-header">Lawn & Landscape Maintenance</h1>
      </div>
  </section>

  <!-- Section 2:  Intro Text Block -->
  <section>
  <div class="container">
    <div class="row" style="padding-top: 1rem;">
      <div class="col s12 center">
        <h3>Cleveland's Premier Landscape Specialist </h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <p>
          Our experienced staff provides superb landscaping and designs that complement your existing architecture. A healthy, well-designed landscape improves your property's curb appeal - and ultimately enhances its value.        </p>
        <p>
          Our team will help you achieve a better looking property by designing, constructing and maintaining a landscape that will turn heads year-round. You can rest assured knowing that we use only high-quality products and equipment to create designs that will be the envy of your every neighbor.         
        </p>
      </div>
    </div>
  </div>
</section>
  

<!-- Image Gallery -->
<section>
  <div class="container" style=" margin-top: -2rem;">
      <div class="row">
           <div class="col s4">
           <a href="public/images/landscape-maint/1.jpeg" data-lightbox="landscape">
              <img src="public/images/landscape-maint/1.jpeg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s4">
            <a href="public/images/landscape-maint/2.jpeg" data-lightbox="landscape">
              <img src="public/images/landscape-maint/2.jpeg" class="responsive-img" alt="">
            </a>
        </div>
         <div class="col s4">
           <a href="public/images/landscape-maint/3.jpeg" data-lightbox="landscape">
              <img src="public/images/landscape-maint/3.jpeg" class="responsive-img" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <a href="public/images/outdoor/6.jpg" data-lightbox="landscape">
              <img src="public/images/outdoor/6.jpg" class="responsive-img" alt="">
            </a>
        </div>
        <div class="col s6">
          <a href="public/images/landscape-maint/6.jpg" data-lightbox="landscape">
              <img src="public/images/landscape-maint/6.jpg" class="responsive-img" alt="">
            </a>
        </div>
      </div>
  </div>
</section>

<section >
  <div class="container" style="padding-bottom: 2rem; margin-top: 2rem;">
      <div class="row">
          <div class="col s12 center">
              <h3 class="excel-green" style="padding-bottom: 1rem;">Our Services</h3>
              <p>Request an estimate today by <a href="/contact">contacting us!</a> </p>
              <ul class="collapsible">
              <li>
                  <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                     Mowing
                  </div>
                  <div class="excel-green collapsible-body light">
                      Our team of professional lawn mowing experts will mow your lawn to perfection so it is both functional and beautiful. 
                  </div>
              </li>
              <li>
                  <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                      Mulching
                  </div>
                  <div class="excel-green collapsible-body light">
                      Mulch can provide a more 'put-together' look to any property. Our team can quickly and efficiently mulch your space!
                  </div>
              </li>
              <li>
                  <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                      Fertilization
                  </div>
                  <div class="excel-green collapsible-body light">
                      Ensure your lawn and plants look lucious and healthy for months to come. The Excel Management team will diagnose exactly what your plants need and apply it properly!
                  </div>
              </li>
              <li>
                  <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                      Weed Control
                  </div>
                  <div class="excel-green collapsible-body light">
                      Weeds can quickly make a beautiful landscape into a jungle. Let our team control your weeds so your investment stays beautiful over time!
                  </div>
              </li>
            <li>
              <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                  Spring & Fall Cleanups
              </div>
              <div class="excel-green collapsible-body light">
                  The seasons may be beautiful - but they can also leave quite a mess! Leave the clean-up to our team so you can worry about enjoying other things. 
              </div>
            </li>
            <li>
              <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                  Grounds Maintenance
              </div>
              <div class="excel-green collapsible-body light">
                  Utilize our grounds maintenance services however often is right for you. Our professionals will make sure your grounds are the envy of the neighborhood each time they leave!
              </div>
            </li>
            <li>
              <div class="excel-green collapsible-header"><i class="excel-green material-icons">local_florist</i>
                  Irrigation Systems
              </div>
              <div class="excel-green collapsible-body light">
                  An irrigation system can work to provide ample water to your landscape investment so that you don't have to. More on <a href="/irrigation">irrigation systems here. </a>
              </div>
            </li>
          </ul>
          </div>
      </div>
  </div>
</section>

<footer>
  <section >
    <div class="container center">
      <div class="row">
        <div class="col s12" style="padding-top: 1rem;">
          <!-- <span><img style="height: 100px" src="/images/excel-logo-10.png" alt=""></span> -->
          <h4 style="color: white;">EXCEL MANAGEMENT</h4> 
          <P style="color: white;">Commercial Snow Removal, Grounds Management, Landscaping Services and design for Commercial Buildings, Industrial Parks, Retail Shopping Centers, Condominiums, and Apartments or Complexes in North East Ohio | Headquartered in Grafton, Ohio</P>
          <HR></HR>
        </div>
        <div class="row center hide-on-med-and-down">
          <div class="col s12 center">
            <span class="space">
                <a class="space" href="/">Home</a>
            </span>
            <span class="space">
                <a class="space" href="/about">About</a>
            </span>
            <span class="space">
                <a class="space" href="/careers">Careers</a>
            </span>
            <span class="space">
                <a class="space" href="/customer-survey">Survey</a>

            </span>
            <span class="space">
                <a class="space" href="/contact">
                
                Contact</a>
                
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col s12" style="font-weight: 300; color: white;">
            Copyright © 2021 Excel Management, LLC
          </div>
        </div>
      </div>
    </div>
  </section>

</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/index.js"></script>
<script src="public/js/lightbox.js"></script>
  <script>
    lightbox.option({
      'fitImagesInViewport': true,
      'wrapAround': true
    })
  </script>

</body>
