body {
    font-family: 'Rubik', sans-serif;
}
h1 {
    font-weight: 500; 
    font-size: 3rem;
}

@media (max-width: 991px) {
    .navbar-fixed .container {
        margin-left: 0;
    }
}
nav ul a:hover {
    background-color: transparent;
}
@media (min-width: 992px) {
    .swiper-inner h1 {
        margin-top: 0;
    }
}


h2 {
    font-weight: 500;
    font-size: 3.2rem;
    color: #384B91;
}
h3 {
    font-weight: 500;
    font-size: 2.5rem;
    color: #384B91;
    margin-bottom: .25rem;
    margin-top: .25rem;
}

h4 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #384B91;
}
h4 {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
}
h5 {
    font-weight: 600;
    font-size: 1rem;
    color: #384B91;
    margin: 0;
}

p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #384B91;
}

.smaller {
    font-size: .75rem;
}

.landing {
    position: relative;
    background: url('../images/Excel_Home_Hero.png') no-repeat center center/cover;
    height:65vh;
  }

.landing-about {
    position: relative;
    background: url('../images/About-Us.png') no-repeat center center/cover;
    height:55vh;
}

.landing-contact {
    position: relative;
    background: url('../images/contact-header.png') no-repeat center center/cover;
    height:55vh;
}

.landing-survey {
  position: relative;
  background: url('../images/landscaping-header.png') no-repeat center center/cover;
  height:55vh;
}

.landing-snow {
    position: relative;
    background: url('../images/snow_cover-09.png') no-repeat center center/cover;
    height:55vh;
}

.landing-landscaping {
    position: relative;
    background: url('../images/landscaping-header.png') no-repeat center center/cover;
    height:55vh;
}

.landing-irrigation {
    position: relative;
    background: url('../images/landscaping-header.png') no-repeat center center/cover;
    height:55vh;
}

.landing-construction {
    position: relative;
    background: url('../images/Construction-Header.png') no-repeat center center/cover;
    height:55vh;
}

.landing-careers {
    position: relative;
    background: url('../images/Careers-Header.png') no-repeat center center/cover;
    height:55vh;
}

.american-flag-about {
    position: relative;
    background: url('../images/american-flag.png') no-repeat center center/cover;
    height:65vh;
}
  
  .landing-inner {
    color: #fff;
    padding-top: 1rem;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
  }

  .landing-inner-other {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: .5rem;
  }

.about-two {
    padding-top: 5rem;
}


.top-header {
    font-size: 4rem;
    font-weight: 500;
}

nav {
    background-color: white;
}

.excel-blue {
    color: #384B91;
}

.excel-red {
    color: #ED1F24;
}

.excel-green {
    color: #384B91;
}

.excel-grey {
    color: #B3AFA8;
}

/* Home Page Specific */

.hero-list {
    font-size: 1rem;
    color: white;
}

.button-hero {
    background-color: white;
    border-radius: 5px;
    color: #384B91;
    margin-top: 1.5rem;
    padding: 1rem;
    width: 100px;
    text-align: center;
}

.bold-green {
    color:#384B91;
    font-weight: 700;
}

.soft-green {
    color:#384B91;
    font-weight: 300; 
}

.text-blocks {
    padding: 1rem;
    margin: .25rem;
    background-color: white;
    border-radius: 5px;
}

footer {
    background-color: #384B91;
    overflow: auto;
    padding: 1rem;
    align-items: center;
}

.hidden {
    display: none;
}

.space {
    margin-right: 1rem;
    color: white;
    font-weight: 500;
}

.careers-container {
    background-color: #384B91;
    color: white;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.light {
    font-weight: 300;
}

.center-box {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%
}

.home-contact {
    max-width: 1000px;
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

select {
    outline: none;
}

@media (max-width: 700px) {
    .center-form {
        margin-left: -2rem;
    }
}

.swiper-container {
  height: 65vh;
  margin-bottom: 3rem;
  
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-inner {
    color: white;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.swiper-inner-2 {
  padding-top: 2em;
  color: white;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}

#slide-1 {
  position: relative;
  background: url('../images/landscaping-header.png') no-repeat center center/cover;
}

#slide-2 {
  position: relative;
  background: url('../images/slider2.png') no-repeat center center/cover;
}
#slide-3 {
  position: relative;
  background: url('../images/slide3.png') no-repeat center center/cover;
}

.space {
  color: white;
}

.space:hover {
  color: lightgrey;
}

input.invalid:not([type]), input.invalid:not([type]):focus, input.invalid[type=text]:not(.browser-default), input.invalid[type=text]:not(.browser-default):focus, input.invalid[type=password]:not(.browser-default), input.invalid[type=password]:not(.browser-default):focus, input.invalid[type=email]:not(.browser-default), input.invalid[type=email]:not(.browser-default):focus, input.invalid[type=url]:not(.browser-default), input.invalid[type=url]:not(.browser-default):focus, input.invalid[type=time]:not(.browser-default), input.invalid[type=time]:not(.browser-default):focus, input.invalid[type=date]:not(.browser-default), input.invalid[type=date]:not(.browser-default):focus, input.invalid[type=datetime]:not(.browser-default), input.invalid[type=datetime]:not(.browser-default):focus, input.invalid[type=datetime-local]:not(.browser-default), input.invalid[type=datetime-local]:not(.browser-default):focus, input.invalid[type=tel]:not(.browser-default), input.invalid[type=tel]:not(.browser-default):focus, input.invalid[type=number]:not(.browser-default), input.invalid[type=number]:not(.browser-default):focus, input.invalid[type=search]:not(.browser-default), input.invalid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid > input.select-dropdown, .select-wrapper.invalid > input.select-dropdown:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}



.select-wrapper input.select-dropdown {
    border: none;
    border-bottom: none !important;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

@media (min-width: 991px) and (max-width: 1300px) {
    .navbar-fixed li {
        font-size: .889rem;
    }
}